<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for Job</title>
    <link rel="stylesheet" href="{% static 'css/applyjob.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   
    <script src="{% static 'js/form.js' %}"></script>

</head>
<body>
    
    {% block content %}
    {% include 'applnavbar.html' %}
    
    <div class="container mt-5">
        <h2>Apply for Job</h2>
       
        <form method="post" id="Form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endblock content %}
</body>
</html>
