<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JobPerfects</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/homestyles.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- jQuery, Popper.js, Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{% static 'js/form.js' %}"></script>
  
</head>

<body>
  {% csrf_token %}
  {% include "compnavbar.html" %}

    <div class="container centered-form">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form class="form-inline search-form" method="get" action="{% url 'searchapplicants' %}">
            <input class="form-control" type="search" placeholder="Search qualification,job title or location" aria-label="Search" name="qu">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        </div>
      </div>
    </div>
    <div class="container mt-5">
       
        {% if matching_applicants %}
            <ul class="list-group">
                {% for applicant in matching_applicants %}
                    <li class="list-group-item">
                        <h4>{{ applicant.name }}</h4>
                        <p><strong>Qualification:</strong> {{ applicant.qualification }}</p>
                        <p><strong>Years of Experience:</strong> {{ applicant.year_of_experience }}</p>
                        <p><strong>Location:</strong> {{ form.instance.location }}</p>
                        <p><strong>Job Preferred:</strong> {{ applicant.job_title }}</p>
                        <a href="{% url 'applicant_details' applicant.id %}" class="btn btn-primary">View Details</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>  </p>
        {% endif %}
        <ul class="list-group">
            {% for applicant in non_matching_applicants %}
                <li class="list-group-item">
                    <h4>{{ applicant.name }}</h4>
                    <p><strong>Qualification:</strong> {{ applicant.qualification }}</p>
                    <p><strong>Years of Experience:</strong> {{ applicant.year_of_experience }}</p>
                    <p><strong>Location:</strong> {{ applicant.location }}</p>
                    <p><strong>Job Preferred:</strong> {{ applicant.job_title }}</p> 
                    <a href="{% url 'applicant_details' applicant.id %}" class="btn btn-primary">View Details</a>   
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>    