<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .navbar-custom {
    background-color: #1199b7;
    }
    .btn.btn-primary {
        background-color: #1199b7;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom">
        <a href="/" class="navbar-brand">JOB PERFECTS</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto"> <!-- Changed ml-auto to mr-auto to align left -->
                <li class="nav-item">
                    <a href="{% url 'applicanthome' %}" class="nav-link">HOME</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h2>Contact Us</h2>
        <form method="post" id="Form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_Name">Name</label>
                {{ form.Name }}
            </div>
            <div class="form-group">
                <label for="id_Email">Email</label>
                {{ form.Email }}
            </div>
            <div class="form-group">
                <label for="id_Message">Message</label>
                {{ form.Message }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('Form').addEventListener('submit', function(event) 
            {
              alert('Application submitted successfully');  
                 
            });
        });
      </script>
</body>
</html>
