<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .navbar-custom {
    background-color: #1199b7;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom">
        <a href="/" class="navbar-brand">JOB PERFECTS</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto"> <!-- Changed ml-auto to mr-auto to align left -->
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link">HOME</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="centered-form">
        <div class="form-container">
        <form method="POST" action="{% url 'reset' %}">
        {% csrf_token %}
       
            <label for="username">Username </label>
            <input type="text" name="uname" ></input>
            <label for="password">New Password </label>
            <input type="password" name="password" ></input>
            <button type="submit">Reset</button>
            
        <p>{{errmsg}}</p>

        </form>

        </div>
    </div>
</body>
</html>