
# Python compiled files
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Dependency directories
node_modules/
bower_components/

# Database files
*.sqlite3
*.db

# Configuration files
.env

# Logs
*.log

# IDE settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Coverage reports
coverage/
*.cover

