

.navbar-custom {
    background-color: #1199b7;
}

.search-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    margin: 20px 0;
    justify-content: center;
}

.search-form input[type="search"] {
    flex: 1;
    margin-right: 10px;
}



.btn.btn-primary {
    background-color: #1199b7;
    border-color: #1199b7;
}

.btn.btn-primary:hover {
    background-color: #0a6d91;
    border-color: #0a6d91;
}

h1 {
    color: #1199b7;
    margin-bottom: 20px;
}
.bs-example {
    margin: 0;
}

.navbar-brand {
    font-size: 20px;
    font-family: sans-serif;
}
h4 {
    color: #1199b7;
    margin-bottom: 20px;
}